.navbar-nav {
    margin-left: auto;
    position: relative;
}
.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-nav .nav-link:visited{
    color: rgb(255 255 255);
    font-size: 19px;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255 255 255);
    transition: all .4s ease-in-out;
}
.navbar-nav .nav-link:after {
    content: "";
    position: absolute;
    top: calc(65% + 1rem);
    left: 0;
    right: 0;
    width: 0%;
    bottom: 10px;
    background-color: #FDC134;
    border-radius: 20px;
    height: 6px;
    transition: all 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover::after{
    width: 100px;
}
.logo{
    width: 140px;
}
.navIcon{
    color: #fff;
    font-size: 30px;
    margin: 5px;
    transition: all .3s ease-in-out;
}
.navIcon:hover{
    color:#FDC134
}
.menu{
    color: #fff;
}
.menu:hover{
    color: #ffc107;
}
.menu:active,.menu:focus{
    outline: 0;
    box-shadow: none;
}