
.produt{
    background-color: #fff;
    border-radius: 7px;
    transition: all .3s ease-in-out;
    margin: 20px 0 ;
}
.img-pro{
    width: 100%;
}
img{
    width: 100%;
    margin: auto;
}
.produt .content-pro p{
    margin: 0 35px;
    padding: 10px 0;
    font-size: 15px;
}
.produt:hover{
    background-color: #FDC134;
    color: #fff;
}
.p{
    margin: 25px 0;
}
.content{
    display: none;
}
.active-content{
    display: block;
}
.block-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.tabs{
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}
.active-tabs{
    /* content: "";
    position: absolute;
    display: block;
    top: calc(65% + 1rem);
    left: 0;
    right: 0;
    width: 100%;
    bottom: 10px;
    background-color: #FDC134;
    border-radius: 20px;
    height: 6px; */
    border-bottom: 3px solid #FDC134;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}